



{% load render_table from django_tables2 %}
<html>
    <head>
        <style>
            table {
                border-collapse: collapse; 
                width: 100%;
            }
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
<body>
    <h1>Book List</h1>
    <form method="GET">

        {{ filter.form.as_p }}

    </form>

    {% if table %}
        {% render_table table %}
       
    {% else %}
        <p>No data available.</p>
    {% endif %}
</body>


</html>